// GENERAL
::selection {
  background-color: $accent;
  color: $cement;
}

::-moz-selection {
  background-color: $accent;
  color: $cement;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

:root {
  font-size: calc(1rem + 0.2vw);

  @media screen and (min-width: 2000px) {
    font-size: calc(1rem + 1vw);
  }
}

html {
  height: 100%;
  background-color: $accent2-lt;

  @media screen and (min-width: $bk) {
    padding: 0 3rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  margin: 0;
  background-color: $cement;
  font-family: 'Roboto Mono', monospace;
}
