@mixin pse($top: 0, $left: 0, $height: 100%, $width: 100%) {
  content: '';
  position: absolute;
  top: $top;
  left: $left;
  height: $height;
  width: $width;
}

@function h-btn-t($deg) {
  $transform: rotate($deg) skew($deg);

  @return $transform;
}
